.div1{
    background-color: white;
    color: black;
    width: 1250px;
    height: 80px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .log-button1{
    font-size: 15px;
    border-radius: 30px;
    height: 40px;
    width: 120px;
    background-color: white;
    margin-left: 300px;
    margin-right: -280px;
  }
  .log-button{
    border-radius: 30px;
    height: 40px;
    width: 120px;
    background-color: white;
  }
  .log-button2{
    border-radius: 30px;
    height: 40px;
    width: 120px;
    background-color: white;
  }
  .final{
    font-size: 30px;
    margin-right: 300px;
    margin-left: -280;
  }
    
  
  .nPost{
    height: 320px;
    width: 280px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 20px;
    box-shadow:black 0px 0px 30px 00px;
    flex-direction: column;
    margin: 0 auto ;
    padding: 30px;
  }
  .form{
    height: 320px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 20px;
    flex-direction: column;
  }
  .inp1{
   border:none;
   Border-bottom: 1px solid black;
   outline:none;
   width: 100%;
  }
  .inp2{
    height: 40px;
    border-radius: 15px 15px 0px 15px;
    border: 2px black;
    width: 220px;
    
  }
  .label{
    display: block;
    width: 100%;
  }
  .body{
    min-width: 100%;
    max-width: 100%;
    border-radius: 15px;
    padding: 6px;
    border: 2px solid black;
  }
  
  .Users{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-div{
    height: 250px;
    width: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column-reverse;
    margin: 0 auto;
    border-radius: 15px;
  
  }
  
  .h3 {
    position: relative;
    margin-bottom: 20px;
  }
  
  
  .h3::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    visibility: hidden;
  }
  
  .h3:hover::after {
    visibility: visible;
  }
  .h3:not(:first-child) {
    margin-left: 30px;
  
  }
  .photo{
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divss{
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
  .nebi{
    color: grey;
  }
  .nebi:hover{
    transform: scale(1.4);
    transition: 0.4s;
  }
  .photoCl{
    display: flex;
    justify-content: center;
    margin: 0 auto;
  
  }